<%= form_with(model: message, local: false) do |form| %>

  <div class="input-group">
    <%= form.text_field :content, placeholder: "Text here...", class: 'form-control', required: 'required', id: 'message-box' %>
    <div class="input-group-append">
      <%= form.submit "Add Message", class: 'btn btn-secondary'%>
    </div>
  </div>
<% end %>
