<div class="message mb-1  me">
	<div class="content-container">
		<div class="content">
			<%= message.content %>
		</div>
		<div class="yourself">
			<%= message.user.username %>
		</div>
	</div>
</div>