<div id="user-id" data-user-id="<%= current_user.id %>"></div>

<div class="container-fluid">
	<div class="row">
		<div class="col-3">
		</div>
		<div class="col-9">
			<div class="chat">
			<nav class="navbar navbar-light bg-secondary mb-4">
				<span class="navbar-brand">Чатрума</span>
				<ul class="navbar-nav">
					<li class="nav-item">
						Алоха, <%= current_user.username %>!
					</li>
				</ul>
			</nav>
			<div id="messages">
				<% Message.last(50).each do |message| %>
					<%= render 'messages/message', message: message %>
				<% end %>
			</div>
			<div class="chat-box">
				<%= render 'messages/form', message: Message.new %>
			</div>

			</div>
		</div>
	</div>
</div>
