<div id="user-id" data-user-id="<%= current_user.id %>"></div>

<div class="container-fluid">
	<div class="row">
		<!-- fixed sidebar -->
		<div class="col-3 games-sidebar">
			<!-- welcome card -->
	        <div class="card no-outline usercard">
		        <div class="card-body">
		          Алоха,<br>
		          <b><%= current_user.username %><br></b>
		        </div>
	        </div>
	        <!-- games list -->
		    <div class="games">
		    	<!-- gamecard -->
		    	<div class="card no-outline gamecard" id="card_1" onclick="showModal(this)" data-toogle="popover" title="Космические захватчики" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales scelerisque ante nec faucibus. Nunc vitae est ipsum. Sed justo ex, posuere ut nunc sit amet, ullamcorper volutpat ipsum. Nunc pretium turpis felis, quis venenatis dui iaculis vitae. Proin quis ipsum sodales, mollis lorem in, feugiat turpis. Aliquam nec elit dolor. Maecenas vitae ultrices leo." style="background: url(https://picsum.photos/330/103);"></div>
		    	<!-- modal window -->
		    	<div class="native-modal" id="modal_1">
		    		<div class="native-modal-content">
		    			<!-- modal header -->
			    		<div class="native-modal-header">
			    			<span class="native-close" id="close_1" onclick="closeModal(this)">&times;</span>
			    			<h2 class="mb-0">Космические захватчики</h2>
			    		</div>
			    		<!-- modal game description -->
		    			<div class="native-modal-description">
			    			<button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapse_1" aria-expanded="false" aria-controls="collapseExample">
			    				Описание
							</button>	
			    			<div class="collapse" id="collapse_1">
			    				<div class="card card-body">
								    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales scelerisque ante nec faucibus. Nunc vitae est ipsum. Sed justo ex, posuere ut nunc sit amet, ullamcorper volutpat ipsum. Nunc pretium turpis felis, quis venenatis dui iaculis vitae.
								</div>
			    			</div>
		    			</div>
		    			<!-- modal room cards -->
			    		<div class="native-modal-body">
			    			<div class="room-cards">
			    				<a class="card no-outline" href="somewhere">
			    					Комната №1<br>
			    					Участников: 999
			    				</a	>
			    			</div>
			    		</div>
		    		</div>
		    	</div>
		    	<!-- end of modal window -->
		    </div>
	  	</div>
	  	<!-- end of fixed sidebar -->
	  	<!-- chat -->
		<div class="col-9">
			<div class="chat">
				<nav class="navbar navbar-dark bg-secondary">
					<span class="navbar-brand">Чатрума</span>
				</nav>
				<div id="messages">
					<% Message.last(50).each do |message| %>
						<%= render 'messages/message', message: message %>
					<% end %>
				</div>
				<div class="chat-box">
					<%= render 'messages/form', message: Message.new %>
				</div>
			</div>
		</div>
		<!-- end of chat -->
	</div>
</div>

<!-- popovers initializing -->
<script>
	$(document).ready(function(){
	  $('[data-toggle="popover"]').popover();
	});
	$('.gamecard').popover({
	  trigger: 'hover',
	  placement: 'right',
	  boundary: 'window'
	})
</script>