<% render_data = JSON.parse(GameRoom.find(params[:id]).score) %>
<div class="crazy-btn-game">
    <div type="button" id="crazyButton" style="left: <%= render_data["left"] %>%; top: <%= render_data["top"] %>%;" class="btn-crazy animated">
    </div>
    <a href="<%= landing_index_url %>" class="nes-btn is-warning home-btn">Home</a>
</div>

<script>
	startCrazyBtn();
</script>