<section class="crazy-btn-game">
    <button type="button" id="crazyButton" class="btn-crazy btn btn-lg btn-danger">
    </button>
    <a href="/" class="nes-btn is-warning home-btn">Home</a>
</section>

<script>
    window.goCrazy();
</script>