

body {
	overflow-y: hidden;
	::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none;
}

.col-3, .col-9 {
	padding-left: 0px;
	padding-right: 0px;
}

.col-3 {
	background: linear-gradient(135deg, rgba(52,58,64,1) 0%, rgba(112,120,127,1) 100%);
}

.navbar {
	box-shadow: -5px 5px 10px 0px #333;
	background: linear-gradient(135deg, rgba(71,78,85,1) 0%, rgba(155,160,163,1) 100%);
}

.chat {
	height: 100vh;

	#messages {
		height: calc(100% - 140px);
		overflow-y: scroll;
		scrollbar-width: none;
		-ms-overflow-style: none;
		padding-right: 10px;
		padding-left: 10px;
		padding-top: 10px;
	}

	.message {
		min-height: 59px;

		.content-container {
			display: inline-block;
			.content {
				background-color: #FF8C00;
				padding: 8px 16px;
				border-radius: 20px;
			}

			.author, .yourself {
			 font-size: 0.8em;
			 color: #777777;
			}

			.author {
				margin-left: 10px;
			}

			.yourself {
				margin-right: 10px;
				float: right;
			}
		}

		&.me {
			.content-container{
				float: right;
				.content {
					background-color: #4B0082;
					color: white;
				}
			}
		}
	}

	.chat-box {
		position: absolute;
		background: linear-gradient(135deg, rgba(103,112,119,1) 0%, rgba(211,211,211,1) 100%);	
		padding: 25px;
		bottom: 0px;
		width: 100%;
		box-shadow:  -5px -5px 5px 0px #333;

		input[type=text] {
			height: 45px;
			font-size: 18px;
			padding: 8px;
		}

		.btn {
			height: 45px;
	 	}
	}
}

.rooms-sidebar {
  z-index: 1;
}

.card.no-outline {
	margin: 10px;
	box-shadow:  0px 10px 10px 0px #333;
	border-radius: 0;
	background-color: var(--gray-dark);
	color: #fff;
}