
// remove page scrollbar
.container-fluid {
	overflow-y: hidden;
	::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none;
	font-family: Garamond, serif;
}

// remove annoying indents from whole page
.col-3, .col-9 {
	padding-left: 0px;
	padding-right: 0px;
}

// side-bar gradient
.col-3 {
	background: linear-gradient(135deg, rgba(52,58,64,1) 0%, rgba(112,120,127,1) 100%);
}

// fixed navbar shadow and gradient
.navbar {
	box-shadow: -5px 5px 10px 0px #333;
	background: linear-gradient(135deg, rgba(71,78,85,1) 0%, rgba(155,160,163,1) 100%);
}

.chat {
	height: 100vh;
	// chat window
	#messages {
		height: calc(100% - 140px);
		overflow-y: scroll;
		scrollbar-width: none;
		-ms-overflow-style: none;
		padding: 10px;
	}
	// message bubbles
	.message {
		min-height: 59px;

		.content-container {
			display: inline-block;
			.content {
				background-color: #FF8C00;
				padding: 6px 16px;
				border-radius: 20px;
			}

			.author, .yourself {
			 font-size: 0.8em;
			 color: #777777;
			}

			.author {
				margin-left: 10px;
			}

			.yourself {
				margin-right: 10px;
				float: right;
			}
		}

		&.me {
			.content-container{
				float: right;
				.content {
					background-color: #4B0082;
					color: white;
				}
			}
		}
	}
	// fixed chatbox div
	.chat-box {
		position: absolute;
		background: linear-gradient(135deg, rgba(103,112,119,1) 0%, rgba(211,211,211,1) 100%);	
		padding: 25px;
		width: 100%;
		box-shadow:  -5px -5px 5px 0px #333;

		input[type=text] {
			height: 45px;
			font-size: 18px;
			padding: 8px;
		}

		.btn {
			height: 45px;
	 	}
	}
}
// overlaying shadows
.games-sidebar {
  z-index: 1;
}
// welcome card and game cards styling
.card.no-outline {
	font-size: auto;
	margin: 10px;
	border-style: none;
	background: linear-gradient(135deg, rgba(75,0,130,1) 0%, rgba(255,140,0,1) 100%); 
	color: #fff;
}

// welcome card shadow
.usercard {
	box-shadow:  0px 10px 10px 0px #333;
}

// games list scrollbar
.games {
	overflow-y: auto;
	max-height: calc(100vh - 7.5rem);
	scrollbar-width: none;
	-ms-overflow-style: none;
}

// game card options
.gamecard {
	height: 100px;
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
}
// game card scaling effect on hover
.gamecard:hover {
	transform: scale(1.025);
	box-shadow:  0px 10px 10px 0px #333;
}

// popover styling

@keyframes gradient {
	0% {
		background-position: 50% 0%;
	}
	50% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 50% 0%;
	}
}

.popover-header{
	font-size: auto;
	background: var(--gray-dark);
	border: none;
	border-radius: 0px;
	color: #fff;
}

.popover {
	border: none;
	font-family: inherit;
	font-size: 14px;
}

.bs-popover-right .arrow {
	display: none;
}

.popover-body {
	background: linear-gradient(135deg, rgba(255,140,0,0.9), rgba(178,31,31,0.9), rgba(75,0,130,0.9), rgba(255,140,0,0.9), rgba(178,31,31,0.9), rgba(75,0,130,0.9));
	background-size: 800% 800%;
	animation: gradient 20s ease infinite;
	color: #fff;
}

.form-control:focus, .form-control:required {
	border: none;
	box-shadow: none;
}
